<div>
    <!--directive should have single root node -->
    <div class="row">
        <div class="col-lg-8">
            <div class="btn-group">
                <button data-ng-repeat="item in mapobj.keys" type="button" data-ng-click="cat(item)" class="btn btn-default">{{item}}</button>
                <button type="button" data-ng-if="searchText " data-ng-click="cat(item)" class=" active btn btn-default">search</button>
            </div>
        </div>
        <div class="col-lg-4">
            <input type="text" data-ng-model="searchText" />
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-2">
            <div class="btn-group-vertical" data-ng-if="mapobj.values[catval] && !searchText">
                <button data-ng-repeat="item in mapobj.values[catval]" type="button" data-ng-click="detail(item)" class="btn btn-default">{{items[item].name}}</button>
            </div>
            
            <div class="btn-group-vertical" data-ng-if="searchText">
                <button data-ng-repeat="item in items | itemSearch:searchText" type="button" data-ng-click="detail(item)" class="btn btn-default">{{item.name}}</button>
            </div>
        </div>
        <div class="col-md-10" data-ng-transclude>
        </div>
    </div>
</div>
